<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evervolv.widgets"
    android:versionCode="1"
    android:versionName="1.0" 
    coreApp="true"
    >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <uses-sdk android:minSdkVersion="10" />

    <application>
		<!-- Wifi standalone widget -->
        <receiver android:name=".WifiWidgetProvider"
                android:label="@string/wifi_gadget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="com.evervolv.widgets.WIFI_CLICKED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
		<!-- Sync standalone widget -->
        <receiver android:name=".SyncWidgetProvider"
                android:label="@string/sync_gadget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.evervolv.widgets.SYNC_CLICKED"/>
                 <action android:name="com.android.sync.SYNC_CONN_STATUS_CHANGED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
        <!-- Mobile data toggle standalone widget -->
        <receiver android:name=".MobileDataWidgetProvider"
                android:label="@string/mobile_data_gadget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.evervolv.widgets.MOBILE_DATA_CLICKED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
        <!-- Auto Rotate standalone widget -->
        <receiver android:name=".AutoRotateWidgetProvider"
                android:label="@string/auto_rotate_gadget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.evervolv.widgets.AUTOROTATE_CLICKED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
		<!-- GPS standalone widget -->
        <receiver android:name=".GpsWidgetProvider"
                android:label="@string/gps_gadget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.evervolv.widgets.GPS_CLICKED"/>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
		<!-- Tether standalone widget -->
        <receiver android:name=".WifiApWidgetProvider"
                android:label="@string/wifiap_gadget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.net.wifi.WIFI_AP_STATE_CHANGED" />
                <action android:name="com.evervolv.widget.WIFIAP_CLICKED"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
    </application>
</manifest>
